**Staement: Having a porch increases home sale price**

**H<sub>0</sub> =Home sale price will decrease of reamin the same if it has a porch.**

**H<sub>A</sub>= Home sale price will increase if the propery has a porch.**

In [19]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option("display.max_colwidth", 0)
#sales_.columns = sales_df.columns.astype(str)
#sales_df.applymap(str.strip.rename(columns=str.strip)
#add auto reload for src function testing
%load_ext autoreload
%autoreload 2

#let's add the project directory to our module path
import os
import sys

module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
    
#also import all of our modules
import pandas as pd
import numpy as np
from src import data_cleaning

#and here is our data directiory
data_folder = '../../data/'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Import neccesary data sets

In [21]:
sales=pd.read_csv('../../data/EXTR_RPSale_2019.csv',dtype={'ExciseTaxNbr': 'string','Major': 'string','Minor': 'string'})
PINS=pd.read_csv('../../data/PINS.csv',dtype={'ExciseTaxNbr': 'string','Major': 'string','Minor': 'string'})
accessory= pd.read_csv(data_folder+'EXTR_Accessory_V_2019.csv', dtype={'Major': 'str', 'Minor':'str'}, encoding='latin-1')
parcel = pd.read_csv(data_folder+'EXTR_Parcel_2019.csv', dtype={'Major': 'str', 'Minor':'str'}, encoding='latin-1')

In [22]:
#sales_2019_df["unique_id"]=sales_2019_df["ExciseTaxNbr"]+sales_2019_df["Major"]+sales_2019_df["Minor"]

In [23]:
sales

,Unnamed: 0,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning,PIN
0,257,3027422,213043,0120,2019-12-20,560000,20191226000848,,,,,,,DOYLE REGAN M+STERLING C,SHAW HEATHER C,11,6,3,N,N,N,N,1,8,,2130430120
1,302,3002257,940652,0630,2019-07-22,435000,20190730001339,,,,,,,CRAMER NEIL C+PAM R+ET AL,HANSON BRYAN L+KAILI,11,6,3,N,N,N,N,1,8,,9406520630
2,465,2993601,140281,0020,2019-06-04,450000,20190614000489,,,,,,,BRASHER DAVID+MONIQUE A,SEITZ ANDREW+MODELSKI EVE,3,6,3,N,N,N,N,1,8,,1402810020
3,482,3015516,779790,0030,2019-10-07,0,20191016000009,,,,,,,HEUTMAKER JOSEPH E+LINDA A,STONE AVENUE HOUSE LLC,11,6,3,N,N,N,N,1,8,,7797900030
4,594,3015264,124550,0098,2019-09-27,193000,20191015000395,,,,,,,LEWIS WILBERT,TALOFA LLC,3,6,15,N,N,N,N,18,8,18 51 52,1245500098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42675,2087770,2992593,405940,0095,2019-05-21,442000,20190607001670,,,,,,,PREMIER LOTS 2 LLC,RUSSELL ALBERT,11,6,3,N,N,N,N,1,8,,4059400095
42676,2087773,3003079,381670,0025,2019-07-22,680000,20190802000628,,,,,,,HIRAGA SHYOKO,STOECKMANN DOUGLAS A,11,6,3,N,N,N,N,1,8,,3816700025
42677,2087774,3025068,615020,0505,2019-11-18,745000,20191212000602,,,,,,,KYLE JASON C+HEATHER,SAYAH MICHAEL+PRIYA,11,6,3,N,N,N,N,1,8,,6150200505
42678,2087900,2997920,302300,0320,2019-05-01,0,20190705000539,,,,,,,PEDERSEN LOLITA M,PEDERSEN MICHAEL J,11,6,15,N,N,N,N,1,8,,3023000320
42679,2087907,3028691,277110,4239,2019-12-19,955000,20200103000685,,,,,,,BEAU DEVELOPMENT INC,JIANG XINYI,10,6,3,N,N,N,N,1,8,,2771104239

In [24]:
parcel

,Unnamed: 0,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,PropType,Area,SubArea,SpecArea,SpecSubArea,DistrictName,LevyCode,CurrentZoning,HBUAsIfVacant,HBUAsImproved,PresentUse,SqFtLot,WaterSystem,SewerSystem,Access,Topography,StreetSurface,RestrictiveSzShape,InadequateParking,PcntUnusable,Unbuildable,MtRainier,Olympics,Cascades,Territorial,SeattleSkyline,PugetSound,LakeWashington,LakeSammamish,SmallLakeRiverCreek,OtherView,WfntLocation,WfntFootage,WfntBank,WfntPoorQuality,WfntRestrictedAccess,WfntAccessRights,WfntProximityInfluence,TidelandShoreland,LotDepthFactor,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrBldgSites,Contamination,DNRLease,AdjacentGolfFairway,AdjacentGreenbelt,HistoricSite,CurrentUseDesignation,NativeGrowthProtEsmt,Easements,OtherDesignation,DeedRestrictions,DevelopmentRightsPurch,CoalMineHazard,CriticalDrainage,ErosionHazard,LandfillBuffer,HundredYrFloodPlain,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems,PIN
0,0,807841,0410,,SUMMER RIDGE DIV NO. 02,41,,6,25,22,SW,R,35.0,2.0,NaN,NaN,SAMMAMISH,2187,R4,1,1,2,7424,2,2,4,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,8078410410
1,2,755080,0015,,SANDER'S TO GILMAN PK & SALMON BAY,3,1,3,25,11,NW,R,19.0,1.0,NaN,NaN,SEATTLE,10,SF 5000,1,1,2,5000,2,2,4,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,7550800015
2,7,229670,0160,,ELDORADO NORTH,16,,5,26,19,SW,R,37.0,2.0,NaN,NaN,KIRKLAND,1708,RSA 6,1,1,2,9853,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,2296700160
3,57,616390,0532,,NORTHEND COUNTRY ESTATES ADD,13,3,4,26,8,NE,R,3.0,3.0,NaN,NaN,SHORELINE,2266,R6,1,1,2,10007,2,2,3,0,0,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,6163900532
4,114,868230,1740,,TRILOGY AT REDMOND RIDGE DIV 10,174,,6,26,22,SE,R,95.0,10.0,NaN,NaN,KING COUNTY,6415,URPSO,1,1,29,4878,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,8682301740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37949,614674,222505,9237,,NaN,,,5,25,22,NW,R,68.0,3.0,NaN,NaN,BELLEVUE,330,R-1,1,1,2,42253,2,1,3,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,2225059237
37950,614683,276760,1311,,GILMAN PARK ADD BLKS 01 THRU 47,2,12,3,25,11,NE,R,19.0,1.0,NaN,NaN,SEATTLE,10,NC1-55 (M),1,1,29,1102,2,2,4,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,Y,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,2767601311
37951,614781,762570,0780,,SEA VIEW PARK,26,6,3,24,23,NW,R,16.0,7.0,NaN,NaN,SEATTLE,10,SF 5000,1,1,2,6000,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,7625700780
37952,614788,501700,0200,,MADISON STREET CABLE RAILWAY ADD,38-39,1,4,25,27,NW,R,14.0,7.0,NaN,NaN,SEATTLE,10,SF 5000,1,1,2,5320,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,5017000200
37953,614822,881990,0840,,UNIVERSITY HOME TRS,4 & 13,8,4,25,10,NW,R,44.0,3.0,NaN,NaN,SEATTLE,10,SF 5000,1,1,2,7676,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,8819900840

In [25]:
df_accessory=pd.read_csv('../../data/EXTR_Accessory_V.csv', encoding='latin-1' )
#df_accessory.applymap(str.strip).rename(columns=str.strip)
df_accessory

,Major,Minor,AccyType,AccyDescr,Quantity,Size,Unit,Grade,EffYr,PcntNetCondition,AccyValue,DateValued,UpdatedBy,UpdateDate
0,400,51,36,,0,500,2,0,0,0,2500,1998-03-10 00:00:00,SROM,1998-03-10 06:16:00
1,400,51,23,,0,20000,1,2,0,0,20000,1998-03-10 00:00:00,SROM,1998-03-10 06:16:00
2,760,107,17,,7,0,0,0,0,0,0,1900-01-01 00:00:00,,1900-01-01 00:00:00
3,12505,9159,29,,1,0,0,0,0,0,0,1900-01-01 00:00:00,,1900-01-01 00:00:00
4,12603,9536,26,,1,0,0,0,0,0,0,1900-01-01 00:00:00,,1900-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233598,940710,1930,8,Shed,1,0,0,0,0,0,500,2013-10-10 11:58:00,TFAW,2013-10-10 11:58:00
233599,940710,2310,8,Shed,1,0,0,0,0,0,500,2013-10-29 09:00:00,TFAW,2013-10-29 09:00:00
233600,940711,1120,8,Carport roof,1,0,0,0,0,0,1000,2013-10-22 10:45:00,TFAW,2013-10-22 10:45:00
233601,941461,390,2,10x23 attached carport,1,230,1,0,2005,0,0,1900-01-01 00:00:00,SLAN,2010-06-08 08:57:00
233602,885840,20,1,,1,530,1,7,1966,0,0,1900-01-01 00:00:00,MMIS,2000-03-15 13:15:00

In [26]:
df_accessory[df_accessory ["AccyDescr"]== "Porch"]

,Major,Minor,AccyType,AccyDescr,Quantity,Size,Unit,Grade,EffYr,PcntNetCondition,AccyValue,DateValued,UpdatedBy,UpdateDate
47554,12105,9022,8,Porch,1,0,0,0,0,0,2000,2000-02-22 00:00:00,SPRA,2016-04-04 15:09:00

In [27]:
df_accessory[df_accessory ["AccyValue"]== 2000]

,Major,Minor,AccyType,AccyDescr,Quantity,Size,Unit,Grade,EffYr,PcntNetCondition,AccyValue,DateValued,UpdatedBy,UpdateDate
287,72105,9012,8,Carport,1,320,1,0,1912,0,2000,2019-04-02 00:00:00,TGUN,2019-05-13 07:46:00
359,11100,355,8,16x20 carport,1,0,0,0,0,0,2000,2003-10-30 00:00:00,RWAT,2003-10-30 12:39:00
423,12103,9025,8,Shed,1,0,1,0,0,0,2000,1900-01-01 00:00:00,CCRO,2013-06-24 13:52:00
537,250300,15,28,,1,480,1,0,2003,0,2000,2003-07-21 00:00:00,BROS,2003-07-21 09:53:00
892,984330,40,23,,0,7000,1,2,0,0,2000,1998-07-27 00:00:00,SROM,1998-07-27 12:17:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233570,871560,45,8,Storage area under garage,1,0,0,0,0,0,2000,2010-07-12 00:00:00,CLEW,2010-07-12 14:36:00
233576,890100,143,8,Garden shed with loft.,1,80,0,0,0,0,2000,2010-02-25 00:00:00,FLIP,2010-02-25 09:36:00
233582,890100,1164,8,360 sf c/p w/ f/g roof,1,0,0,0,0,0,2000,2010-06-21 00:00:00,FLIP,2010-06-21 11:41:00
233594,866590,324,8,Carport part only gravel under. Metal ro,1,0,0,0,0,0,2000,2016-01-06 10:44:00,RMOO,2016-01-06 10:45:00
233595,867000,60,8,2 sheds,1,0,0,0,0,0,2000,2015-09-24 00:00:00,RMOO,2015-09-24 10:34:00