**Staement:Higher square footage increases home sale price**

**H<sub>0</sub> = Home sale price will decrease of remain the same as square footage increases.**

**H<sub>A</sub>= Home sale price will increase as square footage increases.**

In [37]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option("display.max_colwidth", 0)

In [38]:
sales_2019_df=pd.read_csv('../../data/EXTR_RPSale_2019.csv',dtype={'ExciseTaxNbr':'string','Major': 'string','Minor': 'string'})
sales_2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61351 entries, 0 to 61350
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          61351 non-null  int64
 1   ExciseTaxNbr        61351 non-null  string
 2   Major               61351 non-null  string
 3   Minor               61351 non-null  string
 4   DocumentDate        61351 non-null  object
 5   SalePrice           61351 non-null  int64
 6   RecordingNbr        61351 non-null  object
 7   Volume              61351 non-null  object
 8   Page                61351 non-null  object
 9   PlatNbr             61351 non-null  object
 10  PlatType            61351 non-null  object
 11  PlatLot             61351 non-null  object
 12  PlatBlock           61351 non-null  object
 13  SellerName          61351 non-null  object
 14  BuyerName           61351 non-null  object
 15  PropertyType        61351 non-null  int64
 16  PrincipalUse        61351 non-null  int64
 17  SaleInstrument      61351 non-null  int64
 18  AFForestLand        61351 non-null  object
 19  AFCurrentUseLand    61351 non-null  object
 20  AFNonProfitUse      61351 non-null  object
 21  AFHistoricProperty  61351 non-null  object
 22  SaleReason          61351 non-null  int64
 23  PropertyClass       61351 non-null  int64
 24  SaleWarning         61351 non-null  object
dtypes: int64(7), object(15), string(3)
memory usage: 11.7+ MB

In [71]:
sales_2019_df["unique_id"]=sales_2019_df["ExciseTaxNbr"]+sales_2019_df["Major"]+sales_2019_df["Minor"]

In [40]:
sales_2019_df["PIN"]=sales_2019_df["Major"]+sales_2019_df["Minor"]

In [70]:
sale_use_2019= sales_2019_df["PIN"], sales_2019_df["SalePrice"]
sale_use_2019

(0        919715200
 1        894444200
 2        213043120
 3        940652630
 4        1525049008
             ...
 61346    33310255
 61347    3348401022
 61348    302300320
 61349    2771104239
 61350    924600650
 Name: PIN, Length: 61351, dtype: string,
 0        192000
 1        185000
 2        560000
 3        435000
 4        7600000
           ...
 61346    6500000
 61347    29000
 61348    0
 61349    955000
 61350    0
 Name: SalePrice, Length: 61351, dtype: int64)

In [ ]:
## df_resb=pd.read_csv('../../data/EXTR_ResBldg.csv', dtype={'ZipCode': 'string','Major': 'string','Minor': 'string',"BldgNbr":"string"})
#df_resb["ZipCode"]
df_resb.info()

In [42]:
#df_resb["PIN"]=df_resb["Major"] +df_resb["Minor"]+df_resb["BldgNbr"]
df_resb["PIN"]=df_resb["Major"]+df_resb["Minor"]
df_resb

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,DirectionSuffix,ZipCode,Stories,BldgGrade,BldgGradeVar,SqFt1stFloor,SqFtHalfFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtUnfinHalf,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,FinBasementGrade,SqFtGarageBasement,SqFtGarageAttached,DaylightBasement,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,HeatSystem,HeatSource,BrickStone,ViewUtilization,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost,PIN
0,009800,0440,1,1,2053 277TH AVE SE 98075,2053,,,277TH,AVE,SE,98075,2.0,10,0,2280,0,2320,0,0,0,4600,0,0,0,0,820,,110,0,0,5,2,0,,5,1,2,1,2,0,0,0,2004,0,0,0,0,3,0,0098000440
1,009800,0710,1,1,27713 SE 26TH WAY 98075,27713,,SE,26TH,WAY,,98075,2.0,11,0,2360,0,1950,0,0,0,4310,0,0,0,0,840,,50,0,0,5,2,0,,4,1,1,2,2,0,0,0,2002,0,0,0,0,3,0,0098000710
2,009800,0720,1,1,27719 SE 26TH WAY 98075,27719,,SE,26TH,WAY,,98075,2.0,11,0,1970,0,2130,0,0,0,4100,0,0,0,0,750,,0,0,0,5,2,0,,4,1,0,3,3,0,0,0,2001,0,0,0,0,3,0,0098000720
3,009802,0030,1,1,2831 278TH AVE SE 98075,2831,,,278TH,AVE,SE,98075,2.0,10,0,1840,0,1880,0,0,0,3720,0,0,0,0,710,,60,0,0,5,2,0,,5,1,1,3,3,0,0,0,2004,0,0,0,0,3,0,0098020030
4,009802,0140,1,1,2829 277TH TER SE 98075,2829,,,277TH,TER,SE,98075,2.0,10,0,1610,0,1400,0,0,0,3010,0,0,0,0,660,,380,0,0,5,2,0,,4,1,2,2,3,0,0,0,2004,0,0,0,0,3,0,0098020140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515142,197220,5155,1,2,19 W DRAVUS ST 98119,19,,W,DRAVUS,ST,,98119,1.5,7,0,860,720,0,0,0,0,1580,430,0,0,0,0,N,50,140,0,6,3,0,N,3,0,0,2,1,0,0,0,1909,0,0,0,0,3,0,1972205155
515143,197220,5161,1,1,15 W DRAVUS ST 98119,15,,W,DRAVUS,ST,,98119,3.0,8,0,420,0,760,660,0,0,2660,820,820,8,0,0,N,50,0,150,6,2,0,N,0,0,0,0,2,0,0,0,2007,0,0,0,0,3,0,1972205161
515144,197220,5172,1,1,11 B W DRAVUS ST,11,B,W,DRAVUS,ST,,<NA>,3.0,8,0,220,0,510,380,0,0,1600,490,490,8,0,290,,0,0,0,5,2,0,,3,1,0,2,0,0,0,0,2007,0,0,0,0,3,0,1972205172
515145,197220,5173,1,1,11 C W DRAVUS ST,11,C,W,DRAVUS,ST,,<NA>,3.0,8,0,200,0,490,380,0,0,1470,400,400,8,0,230,,0,0,70,5,2,0,,3,1,0,2,0,0,0,0,2007,0,0,0,0,3,0,1972205173
515146,197220,5593,1,1,100 B FLORENTIA ST,100,B,,FLORENTIA,ST,,<NA>,2.0,8,0,570,0,560,0,0,0,1470,530,340,8,190,0,Y,70,0,30,5,2,0,N,3,1,1,1,1,0,0,0,2006,0,0,0,0,3,0,1972205593

In [43]:
def df_corr (df):
    """
    This function takes in a dataframe where the first column is the target 
    (dependent variable) and the rest are features to be analyzed. 
    We are looking for variables that are highly correlated with the target 
    variable.
    Returns a list of positively correlated variables and a list of 
    negatively correlated variables. Also plots the heatmap, pair plots, 
    and prints the results.
    """
    import seaborn as sns
    sns.set(rc={'figure.figsize':(8, 8)})
    mask = np.triu(np.ones_like(df.corr(), dtype=np.bool))
    sns.heatmap(df.corr(), mask=mask);
    corrMatrix = df.corr()
    rows, cols = corrMatrix.shape
    flds = list(corrMatrix.columns)
    corr = df.corr().values
    neg_corr = []
    pos_corr = []
    print ("POSITIVE CORRELATIONS:")
    for j in range(1, cols):
        if corr[0,j] > 0.5:
            print ('     ', flds[0], ' ', flds[j], ' ', corr[0,j])
            pos_corr.append(flds[j])
    print ("NEGATIVE CORRELATIONS:")
    for j in range(1, cols):
        if corr[0,j] < -0.5:
            print ('     ', flds[0], ' ', flds[j], ' ', corr[0,j])
            neg_corr.append(flds[j])
    # Pair Plots
    df_pos = df[pos_corr]
    df_neg = df[neg_corr]
    sns.pairplot(df_pos)
    sns.pairplot(df_neg)
    return pos_corr, neg_corr
pos, neg = df_corr(df)

NameError: name 'df' is not defined

In [72]:
sales_and_resb= sales_2019_df.join(df_resb,how='inner',on="PIN")
sales_and_resb

ValueError: columns overlap but no suffix specified: Index(['Major', 'Minor', 'PIN'], dtype='object')