**Staement: Having a porch increases home sale price**

**H<sub>0</sub> =Home sale price will decrease of reamin the same if it has a porch.**

**H<sub>A</sub>= Home sale price will increase if the propery has a porch.**

In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option("display.max_colwidth", 0)
#sales_.columns = sales_df.columns.astype(str)
#sales_df.applymap(str.strip.rename(columns=str.strip)

In [4]:
sales_2019_df=pd.read_csv('../../data/EXTR_RPSale_2019.csv',dtype={'ExciseTaxNbr': 'string','Major': 'string','Minor': 'string'})
sales_2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61351 entries, 0 to 61350
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          61351 non-null  int64
 1   ExciseTaxNbr        61351 non-null  string
 2   Major               61351 non-null  string
 3   Minor               61351 non-null  string
 4   DocumentDate        61351 non-null  object
 5   SalePrice           61351 non-null  int64
 6   RecordingNbr        61351 non-null  object
 7   Volume              61351 non-null  object
 8   Page                61351 non-null  object
 9   PlatNbr             61351 non-null  object
 10  PlatType            61351 non-null  object
 11  PlatLot             61351 non-null  object
 12  PlatBlock           61351 non-null  object
 13  SellerName          61351 non-null  object
 14  BuyerName           61351 non-null  object
 15  PropertyType        61351 non-null  int64
 16  PrincipalUse        61351 non-null  int64
 17  SaleInstrument      61351 non-null  int64
 18  AFForestLand        61351 non-null  object
 19  AFCurrentUseLand    61351 non-null  object
 20  AFNonProfitUse      61351 non-null  object
 21  AFHistoricProperty  61351 non-null  object
 22  SaleReason          61351 non-null  int64
 23  PropertyClass       61351 non-null  int64
 24  SaleWarning         61351 non-null  object
dtypes: int64(7), object(15), string(3)
memory usage: 11.7+ MB

In [5]:
sales_2019_df["unique_id"]=sales_2019_df["ExciseTaxNbr"]+sales_2019_df["Major"]+sales_2019_df["Minor"]

In [13]:
sales_2019_df["PIN"]=sales_2019_df["Major"]+sales_2019_df["Minor"]

In [6]:
sales_2019_df

,Unnamed: 0,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning,unique_id
0,72,2999169,919715,200,2019-07-08,192000,20190712001080,,,,,,,WAGNERESTATES LLC,SCHAFFER CORBIN,3,2,3,N,N,N,N,1,3,,2999169919715200
1,236,3000673,894444,200,2019-06-26,185000,20190722001395,,,,,,,MAY THOMAS A+SHIRLEY E,KOCHEL RICHARD J+JANICE M,3,2,3,N,N,N,N,1,3,,3000673894444200
2,257,3027422,213043,120,2019-12-20,560000,20191226000848,,,,,,,DOYLE REGAN M+STERLING C,SHAW HEATHER C,11,6,3,N,N,N,N,1,8,,3027422213043120
3,302,3002257,940652,630,2019-07-22,435000,20190730001339,,,,,,,CRAMER NEIL C+PAM R+ET AL,HANSON BRYAN L+KAILI,11,6,3,N,N,N,N,1,8,,3002257940652630
4,446,3018109,152504,9008,2019-10-18,7600000,20191030001615,,,,,,,AEROBICS BUILDING LLC,NORTHLAKE CAPITAL HQ LLC,3,7,3,N,N,N,N,1,2,,30181091525049008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61346,2087782,2986698,33310,255,2019-04-30,6500000,20190508000847,,,,,,,MAYNE LAURA L,ARMSTRONG ANALISA L+JOHN MACY,11,6,3,N,N,N,N,1,8,,298669833310255
61347,2087856,2980997,334840,1022,2019-04-03,29000,20190405000544,,,,,,,QUALITY LOAN SERVICE CORPORATION OF WA,DLG INC,1,6,18,N,N,N,N,18,7,13 31,29809973348401022
61348,2087900,2997920,302300,320,2019-05-01,0,20190705000539,,,,,,,PEDERSEN LOLITA M,PEDERSEN MICHAEL J,11,6,15,N,N,N,N,1,8,,2997920302300320
61349,2087907,3028691,277110,4239,2019-12-19,955000,20200103000685,,,,,,,BEAU DEVELOPMENT INC,JIANG XINYI,10,6,3,N,N,N,N,1,8,,30286912771104239
61350,2087942,2971374,924600,650,2019-01-02,0,,,,,,,,LAMOURELLE REGINA REI+ALAIN P,LAMOURELLE ALAIN P+REGINA REI,11,6,3,N,N,N,N,1,8,,2971374924600650

In [14]:
df_parcel=pd.read_csv('../../data/EXTR_Parcel.csv', encoding ='latin-1')
df_parcel["PIN"]=df_parcel["Major"] +df_parcel["Minor"]+df_parcel["BldgNbr"]
df_parcel

KeyError: 'BldgNbr'

In [ ]:
df_resb

In [10]:
df_accessory=pd.read_csv('../../data/EXTR_Accessory_V.csv', encoding='latin-1' )
#df_accessory.applymap(str.strip).rename(columns=str.strip)
df_accessory

,Major,Minor,AccyType,AccyDescr,Quantity,Size,Unit,Grade,EffYr,PcntNetCondition,AccyValue,DateValued,UpdatedBy,UpdateDate
0,400,51,36,,0,500,2,0,0,0,2500,1998-03-10 00:00:00,SROM,1998-03-10 06:16:00
1,400,51,23,,0,20000,1,2,0,0,20000,1998-03-10 00:00:00,SROM,1998-03-10 06:16:00
2,760,107,17,,7,0,0,0,0,0,0,1900-01-01 00:00:00,,1900-01-01 00:00:00
3,12505,9159,29,,1,0,0,0,0,0,0,1900-01-01 00:00:00,,1900-01-01 00:00:00
4,12603,9536,26,,1,0,0,0,0,0,0,1900-01-01 00:00:00,,1900-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233598,940710,1930,8,Shed,1,0,0,0,0,0,500,2013-10-10 11:58:00,TFAW,2013-10-10 11:58:00
233599,940710,2310,8,Shed,1,0,0,0,0,0,500,2013-10-29 09:00:00,TFAW,2013-10-29 09:00:00
233600,940711,1120,8,Carport roof,1,0,0,0,0,0,1000,2013-10-22 10:45:00,TFAW,2013-10-22 10:45:00
233601,941461,390,2,10x23 attached carport,1,230,1,0,2005,0,0,1900-01-01 00:00:00,SLAN,2010-06-08 08:57:00
233602,885840,20,1,,1,530,1,7,1966,0,0,1900-01-01 00:00:00,MMIS,2000-03-15 13:15:00

In [11]:
df_accessory[df_accessory ["AccyDescr"]== "Porch"]

,Major,Minor,AccyType,AccyDescr,Quantity,Size,Unit,Grade,EffYr,PcntNetCondition,AccyValue,DateValued,UpdatedBy,UpdateDate
47554,12105,9022,8,Porch,1,0,0,0,0,0,2000,2000-02-22 00:00:00,SPRA,2016-04-04 15:09:00

In [12]:
df_accessory[df_accessory ["AccyValue"]== 2000]

,Major,Minor,AccyType,AccyDescr,Quantity,Size,Unit,Grade,EffYr,PcntNetCondition,AccyValue,DateValued,UpdatedBy,UpdateDate
287,72105,9012,8,Carport,1,320,1,0,1912,0,2000,2019-04-02 00:00:00,TGUN,2019-05-13 07:46:00
359,11100,355,8,16x20 carport,1,0,0,0,0,0,2000,2003-10-30 00:00:00,RWAT,2003-10-30 12:39:00
423,12103,9025,8,Shed,1,0,1,0,0,0,2000,1900-01-01 00:00:00,CCRO,2013-06-24 13:52:00
537,250300,15,28,,1,480,1,0,2003,0,2000,2003-07-21 00:00:00,BROS,2003-07-21 09:53:00
892,984330,40,23,,0,7000,1,2,0,0,2000,1998-07-27 00:00:00,SROM,1998-07-27 12:17:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233570,871560,45,8,Storage area under garage,1,0,0,0,0,0,2000,2010-07-12 00:00:00,CLEW,2010-07-12 14:36:00
233576,890100,143,8,Garden shed with loft.,1,80,0,0,0,0,2000,2010-02-25 00:00:00,FLIP,2010-02-25 09:36:00
233582,890100,1164,8,360 sf c/p w/ f/g roof,1,0,0,0,0,0,2000,2010-06-21 00:00:00,FLIP,2010-06-21 11:41:00
233594,866590,324,8,Carport part only gravel under. Metal ro,1,0,0,0,0,0,2000,2016-01-06 10:44:00,RMOO,2016-01-06 10:45:00
233595,867000,60,8,2 sheds,1,0,0,0,0,0,2000,2015-09-24 00:00:00,RMOO,2015-09-24 10:34:00