**Staement:Higher square footage increases home sale price**

**H<sub>0</sub> = Home sale price will decrease of remain the same as square footage increases.**

**H<sub>A</sub>= Home sale price will increase as square footage increases.**

In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option("display.max_colwidth", 0)

In [4]:
sales_2019_df=pd.read_csv('../../data/EXTR_RPSale_2019.csv',dtype={'ExciseTaxNbr': 'string','Major': 'string','Minor': 'string'})
sales_2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61351 entries, 0 to 61350
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          61351 non-null  int64
 1   ExciseTaxNbr        61351 non-null  string
 2   Major               61351 non-null  string
 3   Minor               61351 non-null  string
 4   DocumentDate        61351 non-null  object
 5   SalePrice           61351 non-null  int64
 6   RecordingNbr        61351 non-null  object
 7   Volume              61351 non-null  object
 8   Page                61351 non-null  object
 9   PlatNbr             61351 non-null  object
 10  PlatType            61351 non-null  object
 11  PlatLot             61351 non-null  object
 12  PlatBlock           61351 non-null  object
 13  SellerName          61351 non-null  object
 14  BuyerName           61351 non-null  object
 15  PropertyType        61351 non-null  int64
 16  PrincipalUse        61351 non-null  int64
 17  SaleInstrument      61351 non-null  int64
 18  AFForestLand        61351 non-null  object
 19  AFCurrentUseLand    61351 non-null  object
 20  AFNonProfitUse      61351 non-null  object
 21  AFHistoricProperty  61351 non-null  object
 22  SaleReason          61351 non-null  int64
 23  PropertyClass       61351 non-null  int64
 24  SaleWarning         61351 non-null  object
dtypes: int64(7), object(15), string(3)
memory usage: 11.7+ MB

In [5]:
sales_2019_df["unique_id"]=sales_2019_df["ExciseTaxNbr"]+sales_2019_df["Major"]+sales_2019_df["Minor"]

In [6]:
sales_2019_df["unique_id"].value_counts()

3017815951120460     1
29942281226059061    1
29926131441700650    1
3045953729799180     1
302804430223045      1
                    ..
302654187010120      1
2975869510454370     1
2990514722935370     1
2985482922049273     1
3021803255869210     1
Name: unique_id, Length: 61351, dtype: Int64

In [5]:
df_resb=pd.read_csv('../../data/EXTR_ResBldg.csv',low_memory=False)
#df_resb["ZipCode"]
df_resb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515147 entries, 0 to 515146
Data columns (total 50 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Major               515147 non-null  int64
 1   Minor               515147 non-null  int64
 2   BldgNbr             515147 non-null  int64
 3   NbrLivingUnits      515147 non-null  int64
 4   Address             515147 non-null  object
 5   BuildingNumber      515147 non-null  object
 6   Fraction            515147 non-null  object
 7   DirectionPrefix     514643 non-null  object
 8   StreetName          515147 non-null  object
 9   StreetType          515147 non-null  object
 10  DirectionSuffix     514643 non-null  object
 11  ZipCode             469753 non-null  object
 12  Stories             515147 non-null  float64
 13  BldgGrade           515147 non-null  int64
 14  BldgGradeVar        515147 non-null  int64
 15  SqFt1stFloor        515147 non-null  int64
 16  SqFtHalfFloor       515147 non-null  int64
 17  SqFt2ndFloor        515147 non-null  int64
 18  SqFtUpperFloor      515147 non-null  int64
 19  SqFtUnfinFull       515147 non-null  int64
 20  SqFtUnfinHalf       515147 non-null  int64
 21  SqFtTotLiving       515147 non-null  int64
 22  SqFtTotBasement     515147 non-null  int64
 23  SqFtFinBasement     515147 non-null  int64
 24  FinBasementGrade    515147 non-null  int64
 25  SqFtGarageBasement  515147 non-null  int64
 26  SqFtGarageAttached  515147 non-null  int64
 27  DaylightBasement    515147 non-null  object
 28  SqFtOpenPorch       515147 non-null  int64
 29  SqFtEnclosedPorch   515147 non-null  int64
 30  SqFtDeck            515147 non-null  int64
 31  HeatSystem          515147 non-null  int64
 32  HeatSource          515147 non-null  int64
 33  BrickStone          515147 non-null  int64
 34  ViewUtilization     515147 non-null  object
 35  Bedrooms            515147 non-null  int64
 36  BathHalfCount       515147 non-null  int64
 37  Bath3qtrCount       515147 non-null  int64
 38  BathFullCount       515147 non-null  int64
 39  FpSingleStory       515147 non-null  int64
 40  FpMultiStory        515147 non-null  int64
 41  FpFreestanding      515147 non-null  int64
 42  FpAdditional        515147 non-null  int64
 43  YrBuilt             515147 non-null  int64
 44  YrRenovated         515147 non-null  int64
 45  PcntComplete        515147 non-null  int64
 46  Obsolescence        515147 non-null  int64
 47  PcntNetCondition    515147 non-null  int64
 48  Condition           515147 non-null  int64
 49  AddnlCost           515147 non-null  int64
dtypes: float64(1), int64(39), object(10)
memory usage: 196.5+ MB

In [17]:
df_resb["unique_id"]=df_resb["Major"] +df_resb["Minor"]+df_resb["BldgNbr"]
df_resb

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,DirectionSuffix,ZipCode,Stories,BldgGrade,BldgGradeVar,SqFt1stFloor,SqFtHalfFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtUnfinHalf,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,FinBasementGrade,SqFtGarageBasement,SqFtGarageAttached,DaylightBasement,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,HeatSystem,HeatSource,BrickStone,ViewUtilization,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost,unique_id
0,9800,440,1,1,2053 277TH AVE SE 98075,2053,,,277TH,AVE,SE,98075,2.0,10,0,2280,0,2320,0,0,0,4600,0,0,0,0,820,,110,0,0,5,2,0,,5,1,2,1,2,0,0,0,2004,0,0,0,0,3,0,10241
1,9800,710,1,1,27713 SE 26TH WAY 98075,27713,,SE,26TH,WAY,,98075,2.0,11,0,2360,0,1950,0,0,0,4310,0,0,0,0,840,,50,0,0,5,2,0,,4,1,1,2,2,0,0,0,2002,0,0,0,0,3,0,10511
2,9800,720,1,1,27719 SE 26TH WAY 98075,27719,,SE,26TH,WAY,,98075,2.0,11,0,1970,0,2130,0,0,0,4100,0,0,0,0,750,,0,0,0,5,2,0,,4,1,0,3,3,0,0,0,2001,0,0,0,0,3,0,10521
3,9802,30,1,1,2831 278TH AVE SE 98075,2831,,,278TH,AVE,SE,98075,2.0,10,0,1840,0,1880,0,0,0,3720,0,0,0,0,710,,60,0,0,5,2,0,,5,1,1,3,3,0,0,0,2004,0,0,0,0,3,0,9833
4,9802,140,1,1,2829 277TH TER SE 98075,2829,,,277TH,TER,SE,98075,2.0,10,0,1610,0,1400,0,0,0,3010,0,0,0,0,660,,380,0,0,5,2,0,,4,1,2,2,3,0,0,0,2004,0,0,0,0,3,0,9943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515142,197220,5155,1,2,19 W DRAVUS ST 98119,19,,W,DRAVUS,ST,,98119,1.5,7,0,860,720,0,0,0,0,1580,430,0,0,0,0,N,50,140,0,6,3,0,N,3,0,0,2,1,0,0,0,1909,0,0,0,0,3,0,202376
515143,197220,5161,1,1,15 W DRAVUS ST 98119,15,,W,DRAVUS,ST,,98119,3.0,8,0,420,0,760,660,0,0,2660,820,820,8,0,0,N,50,0,150,6,2,0,N,0,0,0,0,2,0,0,0,2007,0,0,0,0,3,0,202382
515144,197220,5172,1,1,11 B W DRAVUS ST,11,B,W,DRAVUS,ST,,NaN,3.0,8,0,220,0,510,380,0,0,1600,490,490,8,0,290,,0,0,0,5,2,0,,3,1,0,2,0,0,0,0,2007,0,0,0,0,3,0,202393
515145,197220,5173,1,1,11 C W DRAVUS ST,11,C,W,DRAVUS,ST,,NaN,3.0,8,0,200,0,490,380,0,0,1470,400,400,8,0,230,,0,0,70,5,2,0,,3,1,0,2,0,0,0,0,2007,0,0,0,0,3,0,202394
515146,197220,5593,1,1,100 B FLORENTIA ST,100,B,,FLORENTIA,ST,,NaN,2.0,8,0,570,0,560,0,0,0,1470,530,340,8,190,0,Y,70,0,30,5,2,0,N,3,1,1,1,1,0,0,0,2006,0,0,0,0,3,0,202814

In [18]:
df_resb["unique_id"].value_counts()

404091    31
404111    30
404081    29
404051    29
404071    29
          ..
439367    1
896320    1
336949    1
338996    1
238278    1
Name: unique_id, Length: 247916, dtype: int64

In [ ]:
resbld_and_sales_2019=